/* .css-15m1002-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #555555 !important;
    border-radius: 25px !important;
} */

.css-15m1002-MuiButtonBase-root-MuiTab-root.Mui-selected{
    border-radius: 25px !important;
    color: #555555 !important;
}
.css-heg063-MuiTabs-flexContainer{
    justify-content: center;
}
.MuiTabs-indicatorSpan{
    background-color: transparent;
}


@media  (min-width: 350px) and (max-width: 600px) {
    .tabs-bar{
        max-width: 100% !important;
        overflow-x: scroll !important;
    }
}    