* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat" !important;
  font-style: normal !important;
}
.card-title {
  font-weight: 800;
  font-size: 44px;
  padding: 25px 0px 0px 85px;
  line-height: 55px;
}
.Landing-color{
  background-color: whitesmoke !important;
  padding-top: 65px;
}
.parent-div {
  background: url("./images/back-bg.jpg");
  background-repeat: no-repeat !important ;
  padding: 1px;
  background-size: 100%;
  height: 100vh !important;
}
.parent-card {
  background-color: transparent !important;
  box-shadow: none !important;
}
.card-content {
  font-size: 18px;
  font-weight: 500;
  padding: 0px 43px 0px 85px;
}
.btn-btn {
  background-color: #f0b357 !important;
  height: 40px !important;
  padding: 1px 20px !important;
  color: black !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 22px;
}
.btn-class {
  display: flex !important;
  padding: 18px 100px !important;
}
.img-cloud {
  padding-right: 48px;
}
.div-star {
  display: flex;
  justify-content: center;
}
.div-star img {
  position: absolute;
  padding-top: 92px;
}
.bg-img-Right {
  padding-bottom: 55px;
}
.pd-0{
  padding: 74px 54px !important;
}
/* section  */

.back-img {
  background: url("./images/back-img.svg");
    padding-top: 110px;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
}
.Sba-title {
  display: flex;
  justify-content: center;
}
.Sba-title strong {
  font-weight: 800 !important;
  font-size: 36px !important;
  line-height: 52px !important;
  padding-bottom: 30px;
  padding-top: 20px;
}
.content-p {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 26px !important;
  padding: 0px 248px;
  text-align: center;
  word-spacing: 5px;
}
.Benefits {
  display: flex;
  justify-content: center;
  font-weight: 800 !important;
  font-size: 18px !important;
  line-height: 29px !important;
}
.flex-col {
  display: flex;
    justify-content: center;
    padding-top: 25px;
}
.card-class {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 60px;
  border-radius: 15px !important;
  box-shadow: 13px 21px -7px 11px !important;
}
.star{
  display: flex;
  justify-content: center;
  align-items: center;

}
.star img{
  position: absolute;
  padding-top: 215px;
  padding-right: 50px;
}
.check {
  padding: 0px 0px 0px 25px;
}
.check1 {
  padding: 20px 0px 0px 25px;
}
.pd-pd {
  padding-top: 20px;
}
.card-class1 {
  display: flex;
  width: 80%;
  padding: 60px;
  border-radius: 15px !important;
  box-shadow: 13px 21px -7px 11px !important;
}
.container-flex{
  display: flex;
  justify-content: center;
}
.check2 {
  padding: 7px 0px 0px 20px;
}


/* section */

.bg-ora{
  background-image: url('./images/back-bg-or.svg') !important;
  background-repeat: no-repeat;
}
.padding-tr{
  padding: 15px 40px 0px 10px;
  text-align: center;
}
.check-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-left img{
height: 27px;

}
.card-class2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  padding: 40px;
  border-radius: 15px !important;
  height: 80%;
}
.pd-left{
  padding-left: 35px;
}
.pd-top{
  padding-top: 70px;
}
.f-right{
  float: right;
}
.f-left{
  float: left;
}
/* section 3 */
.pd-Top{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px !important;
}
.bg-color-orange{
  background-color:#F0B35726 !important;
  width: 95% !important;
  border-radius: 10px;
}
.say-pd{
  padding-top: 30px;
}
.card-boy{
  width: 10% !important;
  height: 20% !important;
}
.d-flex{
  display: flex !important;
  flex-flow: column !important;
  text-align: center !important;
}
.card-box{
  display: flex;
  justify-content: center;
  padding: 10px 0px 0px 0px;
}
.family{
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 22px !important;
}
.double{
  margin-bottom: -30px;
  margin-top: 10px;
  position: relative;
  z-index: 10;
  margin-inline: 30px;
  height: 15%;
  width: 16% !important;
}
.pd-card{
  padding-top: 18px !important;
}
.react-multi-carousel-track{
  padding-bottom: 60px !important;
} 
.react-multiple-carousel__arrow--left {
  bottom: 5px;
  margin-inline: 475px;
  background-color: #ffff !important;

}
.react-multiple-carousel__arrow::before{
color : black !important;

}
.react-multiple-carousel__arrow--right {
  bottom: 5px;
  margin-inline: 495px;
  background-color: #ffff !important;
}

/* section */

.blog-title{
  display: flex;
  justify-content: center;
}
.blog-title strong{
  font-weight: 800 !important;
  font-size: 36px !important;
  line-height: 52px !important;
}
.blog-pd{
  padding:0px 326px 0px 372px !important;
  color: #555555 !important;
  word-spacing: 0px !important;
}
.css-mhc70k-MuiGrid-root>.MuiGrid-item {
  padding-top: 16px  !important;
  padding-bottom: 40px !important;
}
.box-shadow{
  background-color: transparent !important;
  box-shadow: unset !important;
}
.date{
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 19px !important;
  padding-top: 10px;
}
.card-item{
  font-weight: 800 !important;
  font-size: 14px !important;
line-height: 22px !important;
 color:black !important
}
.carousel-pd{
  padding-top: 70px !important;
}
.pd-00x{
  padding: 16px 0px !important;
}